::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track-piece  {
    background-color: #f5f5f5;
}
::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #01b7f2;
}

.wrapper{
    padding: 60px 20px;
}
.div-tasks-block {
    border: 1px solid #dedede;
    margin: 20px 0;
}
.drag{
    height: 430px;
    overflow-y: scroll;
}
.div-tasks-block  h1 {
    background-color: #f5f5f5;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    text-transform: uppercase;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}
.task-block {
    margin: 20px;
    border: 1px solid #f8f7b6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
}
.task-block-header{
    margin: 0;
    padding: 7px;
    font-size: 18px;
    background-color: #f8f7b6;
    color: #333;
    position: relative;
    padding-right: 60px;
}
.delete-task, .add-task, .edit-task {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 16px;
}
.delete-task{
    color: #eb0000;
}
.edit-task {
    right: 30px;
    color: #FF9800;
    top: 7px;
}
.add-task{
    color: #01b7f2;
    top: 10px;
    font-size: 22px;
}
button:focus{
    outline: 0;
}
.task-block-content {
    padding: 5px;
    background-color: #fcfaae;
    margin: 0;
    min-height: 120px;
}
#doing .task-block-header{
    background-color: #c9ecf8;
    padding-right: 10px;
}
#doing .task-block {
    border: 1px solid #c9ecf8;
}
#doing .task-block-content {
    background-color: #c5e4f6;
}
#testing .task-block-header{
    background-color: #c5f7c1;
    padding-right: 10px;
}
#testing .task-block {
    border: 1px solid #c5f7c1;
}
#testing .task-block-content {
    background-color: #bbefb7;
}
#done .task-block-header{
    background-color: #d4cdf3;
    padding-right: 10px;
}
#done .task-block {
    border: 1px solid #d4cdf3;
}
#done .task-block-content {
    background-color: #d2c9fe;
}

/******************
****LOGIN PAGE*****************/
.login-page{
    background-color: #f9f9f9;
}
.login-wrapper {
    padding-top: 100px;
}
.logo-center img {
    margin: 10px auto;
    display: block;
    text-align: center;
}
.panel-login {
    border-radius: 0;
    margin-top: 8%;
    padding:20px;
    display: block;
    position: relative;
}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: transparent;
    border-color: #fff;
    text-align:center;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
    color: #2a80be;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.edit-profile .form-control,
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
.edit-profile .form-control,
.panel-login .form-control {
    border-radius: 0;
    font-size: 14px !important;
    box-shadow: none;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.panel-login .btn-default {
    outline: none;
    color: #fff;
    font-size: 14px !important;
    width: 100%;
    display: block;
    height: auto;
    font-weight: 600;
    padding: 14px 0;
    text-transform: none;
    background-color: #2a80be;
    border: 1px solid #2a80be;
}
.navbar-brand>img {
    height: 40px;
}
.header-logout {
    float: right;
}
.navbar-brand {
    float: left;
    height: auto; 
    padding: 10px 15px;
}
.header-logout {
    float: right;
}
.header-logout button{
    background-color: red;
    color: #fff;
}
.header-logout button {
    background-color: #01b7f2;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 2px;
}
.header-logout button {
    background-color: #01b7f2;
    color: #fff;
    border: none;
    padding: 7px 10px;
    border-radius: 2px;
    margin: 13px 0;
}
.btn-default{
    background-color: #01b7f2;
    border: #01b7f2;
    color: #fff;
}
.btn-default:hover{
    background-color: #01b7f2;
    border: #01b7f2;
    color: #fff;
    opacity: 0.6;
}
textarea{
    resize: none;
    height: 100px !important;
}
input:focus,textarea:focus{
    border: 1px solid #01b7f2 !important;
    outline: none !important;
    outline: 0 !important;
    box-shadow: none !important;
    box-shadow: 0 !important;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #01b7f2;
    color: #fff;
}
.modal-header .close{
    color: #fff;
    opacity: 1;
}
.modal-body p{
    font-size: 16px;
    font-weight: bold;
}
#errorMoving{
    opacity: 1;
}
#errorMoving .modal-header{
    background-color: #eb0000;
}